<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <script src="/js/criterios.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <link rel="stylesheet" href="/css/egresos.css">
    <title>Egresos - Nuevo</title>
</head>
<body>

<header>
    <a href="/">
        <div class="image-container-ingresos" >
            <img src="\img\utn svg.png" alt="utn logo" class="logo-utn">
            <img src="\img\disenio svg.png" alt="diseniologo" class="logo-sist">
        </div>
    </a>
</header>

<div class="main-container" style="position: absolute; top: 6rem;">
    <div class="table-wrapper">
        <p>Filtros Aplicados:</p>
        <ul id="listaFiltros" class="scrollable"></ul>

        <select id="inputCriterio" class="input-select"  name="criterio">
            <option selected disabled>Seleccionar</option>
            {{#each repoCriterios.criterios}}
                <option value="{{nombre}}">{{nombre}}</option>
            {{/each}}
        </select>

        <select id="inputCategoria" class="input-select"  name="categoria">
            <option selected disabled>Seleccionar</option>
        </select>

        <button id="botonFiltro" onclick="aplicarFiltroIngresos()"> Aplicar Filtro </button>
        <button id="botonBorrarFiltros" onclick="borrarFiltrosIngresos()"> Borrar Filtros </button>
    </div>
    <div class="table-wrapper">
        <table class="tabla" id="tablaIngresos">
            <thead>
            <th><i class="fas fa-fingerprint"></i> Id Ingreso </th>
            <th><i class="fas fa-calendar-alt"></i> Fecha </th>
            <th><i class="fas fa-dollar-sign"></i> Monto </th>
            <th><i class="fas fa-pen-fancy"></i> Descripcion </th>
            </thead>
            <tbody>
            {{#each ingresos}}

                <tr style="cursor: pointer">
                    <td> {{id}} </td>
                    <td>{{fecha}}</td>
                    <td>{{monto}}</td>
                    <td>{{descripcion}}</td>
                </tr>

            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="padding-container">
        <div style="float: left;  ">
            <p> Cargar ingresos: </p>
        </div>
        <div style="padding:0 0 1em 0">
            <form action="/ingresos/upload-json" method="post" class="form-" enctype="multipart/form-data">
                <input type="file" name="fileToUpload" id="fileToUpload">
                <button type="submit" class="btn" name="submit" style="float:right;">Cargar</button>
            </form>
        </div>
        <div class="btn-wrapper">
            <a href="/" class="btn" style="">Volver</a>
        </div>
    </div>

</div>
</body>
</html>
