<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <script src="/js/criterios.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/usuarios.estilos.css">
    <link rel="stylesheet" href="/css/egresos.css">
    <title>Egresos - Index</title>
</head>
<body>
<header>
    <a href="/">
        <div class="image-container-ingresos" >
            <img src="\img\utn svg.png" alt="utn logo" class="logo-utn">
            <img src="\img\disenio svg.png" alt="diseniologo" class="logo-sist">
        </div>
    </a>
</header>
    <div class="main-container" style="position: absolute; top: 6rem;">
        <div class="table-wrapper">
        <p>Filtros Aplicados:</p>
            <ul id="listaFiltros" class="scrollable">
            </ul>


        <select id="inputCriterio" class="input-select"  name="criterio">
            <option selected disabled>Seleccionar</option>
            {{#each repoCriterios.criterios}}
                <option value="{{nombre}}">{{nombre}}</option>
            {{/each}}
        </select>

        <select id="inputCategoria" class="input-select"  name="categoria">
            <option selected disabled>Seleccionar</option>
        </select>

        <button id="botonFiltro" onclick="aplicarFiltro()"> Aplicar Filtro </button>
        <button id="botonBorrarFiltros" onclick="borrarFiltros()"> Borrar Filtros </button>
        </div>
        <div class="table-wrapper">
        <table class="tabla" id="tablaOperaciones">
            <thead>
            <th><i class="fas fa-fingerprint"></i> Id Egreso </th>
            <th><i class="fas fa-calendar-alt"></i> Fecha </th>
            <th><i class="fas fa-people-carry"></i> Proveedor </th>
            <th><i class="fas fa-people-carry"></i> Medio De Pago </th>
            </thead>
            <tbody>
            {{#each egresos}}

                <tr onclick="DoNav('/egresos/{{id}}')" style="cursor: pointer">
                    <td>{{id}}</td>
                    <td>{{fecha}}</td>
                    <td>{{proveedor.nombre}}</td>
                    <td>{{medioDePago.nombre}} {{#if medioDePago.imagen}} <img class="medioDePagoLogo" src="{{medioDePago.imagen}}" border=3/> {{/if}}</td>
                </tr>

            {{/each}}
            </tbody>
        </table>
        </div>

        <div class="btn-wrapper">
        <a href="/" class="btn" style="">Volver</a>
        <a href="/egresos/nuevo" class="btn" style="">Nuevo</a>
        </div>

</div>
</body>
</html>

